<div class="box">
  <button (click)="back()" class="box__button">
    <ng-icon
      aria-hidden="false"
      size="26"
      name="heroArrowLeft"
      class="box__icon"
    ></ng-icon>
    Back
  </button>

  <article class="country">
    <img
      [src]="country?.flag"
      alt="{{ country?.name }} flag"
      onerror="this.src='../../../assets/img/flag-not-found.webp'"
    />
    <div class="country__info">
      <h1 class="country__info__name">{{ country?.name }}</h1>
      <section class="country__info__detail">
        <ul>
          <li>
            <p><strong>Native Name:</strong> {{ country?.nativeName }}</p>
          </li>
          <li>
            <p>
              <strong>Population: </strong>
              {{ country?.population }}
            </p>
          </li>
          <li>
            <p><strong>Region:</strong> {{ country?.region }}</p>
          </li>
          <li>
            <p><strong>Sub Region:</strong> {{ country?.subregion }}</p>
          </li>
          <li>
            <p><strong>Capital:</strong> {{ country?.capital }}</p>
          </li>
        </ul>
        <ul>
          <li><strong>Top Level Domain:</strong> {{ topLevelDomain() }}</li>
          <li><strong>Currencies:</strong> {{ currencies() }}</li>
          <li><strong>Languages:</strong> {{ languages() }}</li>
        </ul>
      </section>
      <section class="country__info__border">
        <h2>Border Countries:</h2>
        <ul>
          @for (item of borderCountries; track $index) {
          <li class="country__info__border__country">{{ item }}</li>
          }
        </ul>
      </section>
    </div>
  </article>
</div>
