/* You can add global styles to this file, and also import other style files */

:root {
  --dark-blue-elements: hsl(209, 23%, 22%);
  --very-dark-blue-bg: hsl(207, 26%, 17%);
  --very-dark-blue-txt: hsl(200, 15%, 8%);
  --dark-gray-input: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "NunitoSans";
  src: url("assets/font/NunitoSans.ttf") format("truetype");
}

body {
  font-family: NunitoSans;
}
