/* You can add global styles to this file, and also import other style files */

@import "assets/styles/piccalilli.css";

@font-face {
  font-family: "NunitoSans";
  src: url("assets/font/NunitoSans.ttf") format("truetype");
}

:root {
  --dark-blue-elements: hsl(209, 23%, 22%);
  --very-dark-blue-bg: hsl(207, 26%, 17%);
  --very-dark-blue-txt: hsl(200, 15%, 8%);
  --dark-gray-input: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: NunitoSans;
  min-height: 100vh;
  background: var(--very-light-gray);
  min-width: 320px;
}

main {
  max-width: 1283px;
  min-width: 320px;
  margin: 0 auto;
  padding: 48px 33px;
}

input {
  font-size: 20px;
  outline: none;
  border: none;
  width: 100%;
}

img {
  /* max-width: 100%; */
  width: 100%;
  object-fit: cover;
}

select {
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px hsla(0, 0%, 52%, 0.158);
  background: var(--white);
  font-size: 20px;
}

header {
  padding: 65.75px 31px;
  background: var(--white);
  box-shadow: 0 0 10px hsla(0, 0%, 52%, 0.288);
}

h1 {
  font-weight: 800;
}

.nav-bar {
  max-width: 1283px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.nav-bar__title,
.nav-bar__theme {
  font-size: 19px;
}

.nav-bar__title {
  font-weight: 800;
}

.nav-bar__theme {
  font-weight: 600;
}

.nav-bar__theme {
  display: flex;
  gap: 10px;
}

.flex-container {
  margin-bottom: 62px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.filter {
  padding: 37px 39px 33px 48px;
  max-width: 400px;
}

.search {
  padding: 30px 20px;
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0 0 10px hsla(0, 0%, 52%, 0.158);
  display: flex;
  gap: 20px;
}

.content {
  display: grid;
  justify-items: center;
  gap: 80px;
}

.card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px hsla(0, 0%, 52%, 0.158);
  overflow: hidden;
  background: var(--white);
}

.card img {
  height: 220px;
  cursor: pointer;
}

.card h2 {
  font-weight: 800;
  font-size: 25px;
}

.card__body {
  padding: 38px 28px;
}

.card__body__country {
  margin-bottom: 27px;
}

.card__body__info {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* For dark mode */

.dark .nav-bar {
  color: var(--white);
}

@media screen and (500px <= width) {
  .nav-bar {
    flex-direction: row;
    gap: none;
  }
}

@media screen and (min-width: 750px) {
  .search {
    padding: 30px 60px;
  }

  .card {
    width: 529px;
  }

  .card__body {
    padding: 58px 48px;
  }

  .card__body__country {
    margin-bottom: 47px;
  }

  .card__body__info {
    font-size: 22px;
  }

  .card img {
    height: 321px;
  }

  .card h2 {
    font-size: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-bar {
    margin: 0 auto;
  }

  .flex-container {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  .filter {
    padding: 20px 18px 20px 23px;
    width: 200px;
    font-size: 14px;
  }

  .search {
    width: 480px;
    padding: 15.5px 31px;
  }

  .search__input {
    font-size: 15px;
  }

  .content {
    max-width: 1283px;
    grid-template-columns: repeat(4, 264px);
    column-gap: 1vw;
    justify-content: space-between;
  }

  .card {
    width: 250px;
  }

  .card__body {
    padding: 29px 24px;
  }

  .card img {
    height: 160px;
  }

  .card h2 {
    font-size: 18px;
  }

  .card__body__info {
    margin-bottom: 13px;
    font-size: 12px;
    gap: 7px;
  }

  .card__body__country {
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 264px;
  }

  main {
    padding-right: 0;
    padding-left: 0;
  }
}
